@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


.float-right {
  float: right;
}

.float-left {
  float: left;
}

.profile-pic {
  width: 35px;
  border-radius: 30px;
}

body {
 // background: #222D32;
}

.container {
 padding: 10%;
}
.form-group {
  margin-bottom: 10px;
}

.btn-outline-primary {
  color: #0DB8DE;
  border-color: #0DB8DE;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #0DB8DE;
}

.btn, a {
  cursor: pointer;
}